
<tui-island>
    <tui-loader
      class="loader"
      size="m"
      textContent="Loading..."
      [overlay]="true"
      [showLoader]="false"
      [inheritColor]="true"
    >
      <div class="tui-island__title d-flex justify-content-between">
        <div class="title d-flex align-items-center tui-space_bottom-6">
          <a
            tuiButton
            icon="tuiIconArrowLeft"
            size="m"
            appearance="secondary"
            class="tui-space_right-3"
            routerLink="/catalog/sub-categories"
          ></a>
          <span>Назад в под категории</span>
        </div>
        <div class="optinos">
          <button
            tuiButton
            icon="tuiIconCheck"
            appearance="custom"
            size="m"
            class="btn-success ms-2"
            [showLoader]="false"
            [disabled]="!generalFormGroup.valid"
            (click)="onSaveSubCategoryClick()"
          >
            Сохранить
          </button>
          <button
            tuiButton
            appearance="custom"
            size="m"
            class="btn-secondary"
            [showLoader]="false"
            [disabled]="!generalFormGroup.valid"
          >
            Сохранить и редактировать
          </button>
        </div>
      </div>

      <section class="content">
        <nav
          tuiTabs
          [(activeItemIndex)]="activeIndex"
          vertical="left"
          class="left"
        >
          <button tuiTab>General</button>
          <button tuiTab>Search engines (SEO)</button>
          <button tuiTab>Products</button>
        </nav>
        <div class="tab-items">
            @if (activeIndex == 0) {
              <div class="general-form">
                <form [formGroup]="generalFormGroup" >
                  <div class="tui-row tui-row_sme">
                    <div class="tui-col_12 tui-space_bottom-8">
                      <div class="tui-row align-items-center">
                        <div class="tui-col_4">
                          <label>
                            Отобразить в порядке
                            <tui-tooltip
                              content="Задает порядок отоброжения. 1 представляет собой начало списка."
                              describeId="displayOrder"
                              direction="top"
                            ></tui-tooltip>
                          </label>
                        </div>
                        <div class="tui-col_8">
                          <tui-input-number
                            formControlName="displayOrder"
                            decimal="never"
                            class="b-form"
                            [max]="100"
                            [min]="0"
                            [step]="1"
                          >
                            Отобразить в порядке
                            <input
                              id="displayOrder"
                              tuiTextfield
                            />
                          </tui-input-number>
                        </div>
                      </div>
                    </div>
                    <div class="tui-col_12 tui-space_bottom-8">
                      <div class="tui-row align-items-center">
                        <div class="tui-col_4">
                          <label for="name">
                            Название
                              <tui-tooltip
                                content="Название для под категории."
                                describeId="name"
                                direction="top"
                              ></tui-tooltip>
                          </label>
                        </div>
                        <div class="tui-col_8">
                          <tui-input
                            formControlName="name"
                          >
                            Название
                            <input
                              id="name"
                              tuiTextfield
                            />
                          </tui-input>
                        </div>
                      </div>
                    </div>
                    <div class="tui-col_12 tui-space_bottom-8">
                      <div class="tui-row align-items-center">
                        <div class="tui-col_4">
                          <label for="categoryId">
                            Категория
                            <tui-tooltip
                              content="Выберите категорию. Выбор данной категории установит ее в качестве родительской для выбранной подкатегории."
                              describeId="categoryId"
                              direction="top"
                            ></tui-tooltip>
                          </label>
                        </div>
                        <div class="tui-col_8">
                          <tui-combo-box
                            *tuiLet="categoryByIdRequest$ | async as categories"
                            formControlName="categoryId"
                            [valueContent]="content"
                            [stringify]="stringifyPlacement"
                          >
                            Категория
                            <input
                              tuiTextfield
                              id="categoryId"
                              placeholder="Введите категорию"
                            />
                            <ng-template #content let-data>
                              {{ data.label }}
                            </ng-template>
                            <ng-template tuiDataList>
                              @if (!!categories) {
                                <tui-data-list loading>
                                  @for (item of categories; track $index) {
                                    <button tuiOption [value]="item">
                                      {{ item.label }}
                                    </button>
                                  }
                                </tui-data-list>
                              } @else {
                                <ng-template #loading>
                                  <tui-loader class="tui-space_vertical-4"></tui-loader>
                                </ng-template>
                              }
                            </ng-template>
                          </tui-combo-box>
                        </div>
                      </div>
                    </div>
                    <div class="tui-col_12 tui-space_bottom-8">
                      <div class="tui-row align-items-center">
                        <div class="tui-col_4">
                          <label for="defaultLink">
                            Ссылка по умолчанию
                            <tui-tooltip
                              content="CHANGE ME."
                              describeId="defaultLink"
                              direction="top"
                            ></tui-tooltip>
                          </label>
                        </div>
                        <div class="tui-col_8">
                          <tui-combo-box
                            formControlName="defaultLink"
                            [strict]="false"
                            [valueContent]="content"
                          >
                            Ссылка по умолчанию
                            <input
                              id="defaultLink"
                              placeholder="Введите ссылку"
                              tuiTextfield
                            />
                            <tui-data-list-wrapper
                              *tuiDataList
                              [itemContent]="content"
                              [items]="defaultLinkData$ | async"
                            ></tui-data-list-wrapper>
                            <ng-template #content let-data>
                              {{ data }}
                            </ng-template>
                          </tui-combo-box>
                        </div>
                      </div>
                    </div>
                    <div class="tui-col_12 tui-space_bottom-8">
                      <div class="tui-row align-items-center">
                        <div class="tui-col_4">
                          <label for="fullName">
                            Полное Название
                            <tui-tooltip
                              content=""
                              describeId="fullName"
                              direction="top"
                            ></tui-tooltip>
                          </label>
                        </div>
                        <div class="tui-col_8">
                          <tui-input
                            formControlName="fullName"
                          >
                            Полное Название
                            <input
                              id="fullName"
                              tuiTextfield
                            />
                          </tui-input>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            }
        </div>
      </section>
    </tui-loader>
</tui-island>