:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .input {
    width: 100%;
  }

  .toolbar {
    display: flex;
    flex-direction: row-reverse;
  }

  .search-close {
    transition: .35s ease-out all;

    &:hover {
      background-color: var(--mi-success);
      transition: .35s ease-out all;
    }
  }
}
