@import './@taiga-ui/core/styles/taiga-ui-local';

#page-top-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1002;
  background-color: var(--mi-white);
  transition: all 0.1s ease-out;
  box-shadow: var(--tui-shadow-sidebar);

  &.top-bar-shadow {
    //box-shadow: ;
  }

  @media (min-width: 768px) {
    left: var(--mi-vertical-menu-width);
  }
}

.navbar-header {
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 70px;
  padding: 0 1.5rem 0 calc(1.5rem / 2);

  .top-bar-head-dropdown {

  }

  @media (max-width: 767.98px) {
    padding: 0 calc(1.5rem / 2) 0 calc(1.5rem / 2);
  }
}

.hamburger-icon {
  width: 20px;
  height: 14px;
  position: relative;
  cursor: pointer;
  display: inline-block;

  span {
    background-color: #878a99;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width: 100%;
    height: 2px;
    display: block;
    left: 0;

    &:nth-child(1) {
      top: 0;
      width: 100%;
    }

    &:nth-child(2) {
      top: 6px;
    }

    &:nth-child(3) {
      bottom: 0;
      width: 60%;
    }
  }

  .vertical-menu-btn:hover &:not(.open) {
    span {
      &:nth-child(1) {
        top: -1px;
      }
      &:nth-child(3) {
        bottom: -1px;
      }
    }
  }

  &.open {
    transform: rotate(-90deg);

    span {
      &:nth-child(1) {
        left: 1px;
        top: 5px;
        width: 20px;
        transform: rotate(90deg);
        transition-delay: 150ms;
      }

      &:nth-child(2) {
        left: 3px;
        top: 13px;
        width: 10px;
        transform: rotate(45deg);
        transition-delay: 50ms;
      }

      &:nth-child(3) {
        left: 9px;
        top: 13px;
        width: 10px;
        transform: rotate(-45deg);
        transition-delay: 100ms;
      }
    }
  }
}

.header-item {
  height: 70px;
  display: flex;
  align-items: center;
}

.t-wrapper {
  padding: 0 var(--tui-padding, 1.25rem) !important;
}

.header-profile-user {
  width: 32px;
  height: 32px;
}

.top-bar-user {
  width: 125px;
  background-color: var(--mi-light);
  @media (min-width: 768px) {
    background-color: var(--mi-light);
  }

  .dropdown-menu {
    top: 6px !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-inline-block {
    display: inline-block !important;
  }

  .ms-xl-2 {
    margin-left: 0.5rem !important;
  }
}

@media (min-width: 768px) {
  .top-bar-user {
    background-color: var(--mi-top-bar-user-bg);
  }
}

@media (min-width: 576px) {
  .ms-sm-3 {
    margin-left: 1rem !important;
  }
}
