<tui-island>
  <div class="position-relative">
    <app-search-bar (valueChange)="applySearch($event)" #search></app-search-bar>

    <button 
      tuiIconButton 
      appearance="custom" 
      icon="tuiIconSearchLarge" 
      shape="rounded" 
      type="button" 
      tuiHint="Поиск" 
      tuiHintDirection="top" 
      size="m"
      class="search-open" 
      [class._opened]="search.isSearchShown$ | async" 
      (click)="search.open()"
    ></button>

    <button 
      tuiIconButton 
      icon="tuiIconRefreshCwLarge" 
      shape="rounded" 
      type="button" 
      tuiHint="Обновить"
      tuiHintDirection="top" 
      appearance="custom" 
      size="m"
      class="refresh" 
      [class._opened]="search.isSearchShown$ | async"
      (click)="refresh()"
    ></button>
  </div>

  <div 
    class="filter-toolbar" 
    [roles]="['admin']"
    (showElem)="onShowButton($event)"
  >
    <tui-hosted-dropdown
      tuiDropdownAlign="right"
      [sided]="true"
      [content]="dropdownSettingsContent"
      [(open)]="isSettingsOpen"
    >
    <button 
      tuiIconButton 
      icon="tuiIconSettings" 
      shape="rounded" 
      appearance="custom" 
      size="m" 
      class="settings"
      tuiHint="Настройки" 
      tuiHintDirection="top" 
      [pseudoActive]="isSettingsOpen || null"
    ></button>
    </tui-hosted-dropdown>
    <ng-template #dropdownSettingsContent>
      <div class="dropdown">
        <tui-reorder
          class="list"
          [enabled]="(enabledColumns$ | async) ?? []"
          [items]="(columnsItems$ | async) ?? []"
          (itemsChange)="columnsItemsChange($event)"
          (enabledChange)="enabledColumnsChange($event)"
        ></tui-reorder>
      </div>
    </ng-template>
    
    @if (isNewCategoryVisible) {
      <a 
        tuiButton 
        size="m" 
        class="add-new"
        routerLink="new" 
        icon="tuiIconPlus" 
        appearance="custom"
      >
        Добавить новый...
      </a>
    }
  </div>

  <tui-loader class="loader" [overlay]="true" [showLoader]="!!(loading$ | async)">
    <tui-scrollbar>
      @if (data$ | async; as data) {
        <table tuiTable *tuiLet="columns$ | async as columns" class="table table__rounded" [columns]="columns ?? []">
          <thead>
            <tr tuiThGroup>
              <th tuiTh *tuiHead="'displayOrder'" [sticky]="false">Отобразить в порядке</th>
              <th tuiTh *tuiHead="'name'" [sticky]="false" [sorter]="null">Название</th>
              <th tuiTh *tuiHead="'badgeText'" [sticky]="false" [sorter]="null">Значок</th>
              <th tuiTh *tuiHead="'defaultLink'" [sticky]="false" [sorter]="null">Путь</th>
              <th tuiTh *tuiHead="'actions'" [sticky]="false" [sorter]="null"></th>
            </tr>
          </thead>
          <tbody tuiTbody [data]="data">
            @for (item of data; track item.displayOrder) {
              <tr tuiTr>
                <td tuiTd *tuiCell="'displayOrder'" (click)="expanded.toggle(item)">{{ item.displayOrder }}</td>
                <td tuiTd *tuiCell="'name'" (click)="expanded.toggle(item)">{{ item.name }}</td>
                <td tuiTd *tuiCell="'badgeText'" (click)="expanded.toggle(item)">
                  <span [class]="'badge-' + item.badgeStyle?.toLowerCase()">{{ item.badgeText }}</span>
                </td>
                <td tuiTd *tuiCell="'defaultLink'" (click)="expanded.toggle(item)">
                  <a [routerLink]="item.defaultLink" class="text-blue">{{ item.defaultLink }}</a>
                </td>
                <td tuiTd *tuiCell="'actions'">
                  <tui-hosted-dropdown
                    #dropdown
                    tuiDropdownAlign="right"
                    [content]="dropdownContent"
                  >
                    <button 
                      tuiIconButton
                      size="m"
                      type="button"
                      appearance="icon"
                      icon="tuiIconMoreVertical"
                      [pseudoActive]="dropdown.open || null"
                    ></button>
                    <ng-template #dropdownContent let-close="close">
                      <tui-data-list>
                        <tui-opt-group>
                          <a 
                            tuiOption 
                            class="option-with-icon"
                            [routerLink]="['update', item.id]" 
                          >
                            <tui-svg src="tuiIconEdit2"></tui-svg>
                            Изменить
                          </a>
                          <button tuiOption class="option-with-icon" (click)="showDialog(item.id)">
                            <tui-svg src="tuiIconTrash"></tui-svg>
                            Удалить
                          </button>
                        </tui-opt-group>
                      </tui-data-list>
                    </ng-template>
                  </tui-hosted-dropdown>
                </td>
              </tr>
              <tr class="details-row">
                <td class="details-content" [attr.colspan]="columns?.length">
                  @if (expanded.isSelected(item)) { 
                    <div class="details-row d-flex g-3 align-items-center">
                      <span>Изоброжение:</span>
                      <div class="detail-row-img">
                        <img
                          [alt]="item.name"
                          [src]="item.photo"
                          width="70"
                          height="70"
                          class="img-details"
                        />
                      </div>
                    </div>                      
                    <div class="details-row d-flex g-3 align-items-center">
                      <span>Иконка:</span>
                      <h4>
                        <tui-svg [src]="item.ico"></tui-svg>
                      </h4>
                    </div>
                  }
                </td>
              </tr>
            } @empty {
              <tr class="row_no-data">
                <td [attr.colspan]="columns?.length">Пустой список!</td>
              </tr>
            }
          </tbody>
          <tfoot class="t-footer">
            <tr>
              <td [colSpan]="columns?.length">
                <tui-table-pagination 
                  class="pagination"
                  [total]="(total$ | async) || 0"
                  [page]="0"
                  [size]="25"
                  [items]="[25, 50, 100]" 
                  (paginationChange)="onPaginationChange($event)"
                ></tui-table-pagination>
              </td>
            </tr>
          </tfoot>
        </table>
      }
    </tui-scrollbar>
  </tui-loader>
</tui-island>
