<tui-island>
  <div class="position-relative">
    <app-search-bar (valueChange)="applySearch($event)" #search></app-search-bar>

    <button 
      tuiIconButton 
      appearance="custom" 
      icon="tuiIconSearchLarge" 
      shape="rounded" 
      type="button" 
      size="m"
      class="search-open" 
      [class._opened]="search.isSearchShown$ | async" 
      (click)="search.open()"
    ></button>

    <button 
      tuiIconButton 
      icon="tuiIconRefreshCwLarge" 
      shape="rounded" 
      type="button" 
      appearance="custom" 
      size="m"
      class="refresh" 
      [class._opened]="search.isSearchShown$ | async" 
      (click)="refresh()"
    ></button>
  </div>

  <div class="filter-toolbar">
    <button 
      tuiIconButton 
      icon="tuiIconSettings" 
      shape="rounded" 
      appearance="custom" 
      size="m" 
      class="settings"
      tuiHint="Настройки" 
      tuiHintDirection="top" 
      tuiHintDescribe
    ></button>

    <div 
      [roles]="['admin']"
      (showElem)="onShowButton($event)"
    >
      @if (isNewCategoryVisible) {
        <a 
          tuiButton 
          size="m" 
          class="add-new"
          routerLink="new" 
          icon="tuiIconPlus" 
          appearance="custom"
        >
          Добавить новый...
        </a>
      }
    </div>
  </div>

  <tui-loader class="loader" [overlay]="true" [showLoader]="!!(loading$ | async)">
    <tui-scrollbar>
      @if (data$ | async; as data) {
        <table tuiTable class="table" [columns]="columns">
          <thead>
            <tr tuiThGroup>
              <th class="btlr-1" tuiTh *tuiHead="'displayOrder'" [sticky]="false" [sorter]="null">Отобразить в порядке</th>
              <th tuiTh *tuiHead="'photo'" [sticky]="false" [sorter]="null">Изоброжение</th>
              <th tuiTh *tuiHead="'name'" [sticky]="false" [sorter]="null">Название</th>
              <th tuiTh *tuiHead="'ico'" [sticky]="false" [sorter]="null">Иконка</th>
              <th tuiTh *tuiHead="'badgeText'" [sticky]="false" [sorter]="null">Значок</th>
              <th tuiTh *tuiHead="'defaultLink'" [sticky]="false" [sorter]="null">Путь</th>
              <th tuiTh *tuiHead="'subCategories'" [sticky]="false" [sorter]="null">Под категории</th>
              <th class="btrr-1" tuiTh *tuiHead="'actions'" [sticky]="false" [sorter]="null"></th>
            </tr>
          </thead>
          <tbody tuiTbody [data]="data">
            @for (item of data; track item.displayOrder) {
              <tr tuiTr>
                <td tuiTd *tuiCell="'displayOrder'" (click)="expanded.toggle(item)">{{ item.displayOrder }}</td>
                <td tuiTd *tuiCell="'photo'" (click)="expanded.toggle(item)">
                  <div><img [src]="item.photo" [alt]="item.name" class="" /></div>
                </td>
                <td tuiTd *tuiCell="'name'" (click)="expanded.toggle(item)">{{ item.name }}</td>
                <td tuiTd *tuiCell="'ico'" (click)="expanded.toggle(item)">{{ item.ico }}</td>
                <td tuiTd *tuiCell="'badgeText'" (click)="expanded.toggle(item)"><span [class]="item.badgeStyle">{{ item.badgeText }}</span></td>
                <td tuiTd *tuiCell="'defaultLink'" (click)="expanded.toggle(item)">{{ item.defaultLink }}</td>
                <td tuiTd *tuiCell="'subCategories'" (click)="expanded.toggle(item)">{{ item.subCategories }}</td>
                <td tuiTd *tuiCell="'actions'" (click)="expanded.toggle(item)">
                  <tui-hosted-dropdown
                    #dropdown
                    [content]="dropdownContent"
                  >
                    <button 
                      tuiIconButton
                      appearance="icon"
                      icon="tuiIconMoreVertical"
                      [size]="'m'"
                      type="button"
                    ></button>
                    <ng-template #dropdownContent let-close="close">
                      <tui-data-list tuiDataListDropdownManager>
                        <tui-opt-group>
                          <button
                            tuiOption
                            class="command-option"

                          >
                            test
                          </button>
                          <button
                            tuiOption
                            class="command-option"

                          >
                            test
                          </button>
                        </tui-opt-group>
                      </tui-data-list>
                    </ng-template>
                  </tui-hosted-dropdown>
                </td>
              </tr>
              <tr class="details-row">
                <td class="details-cell" [attr.colspan]="columns.length">
                  @if (expanded.isSelected(item)) { 
                    <div class="details-content" [@tuiHeightCollapse]="getAnimation(150)">
                      test
                    </div>
                  }
                </td>
              </tr>
            } @empty {
              <tr class="row_no-data">
                <td [attr.colspan]="columns.length">Пустой список!</td>
              </tr>
            }
          </tbody>
          <tfoot class="t-footer">
            <tr>
              <td [colSpan]="columns.length">
                <tui-table-pagination 
                  class="pagination"
                  [total]="(total$ | async) || 0"
                  [page]="0"
                  [size]="25"
                  [items]="[25, 50, 100]" 
                  (paginationChange)="onPaginationChange($event)"
                ></tui-table-pagination>
              </td>
            </tr>
          </tfoot>
        </table>
      }
    </tui-scrollbar>
  </tui-loader>
</tui-island>
