.navbar-menu {
  position: fixed;
  background-color: var(--mi-vertical-menu-bg);
  border-right: 1px solid var(--mi-vertical-menu-bg);
  width: var(--mi-vertical-menu-width);
  bottom: 0;
  top: 0;
  margin-top: 0;
  box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  padding: 0 0 calc(70px + 25px) 0;
  transition: all 0.1s ease-out;
  z-index: 1004;
}

.navbar-brand-box {
  padding: 0 1.3rem;
  text-align: center;
  transition: all 0.1s ease-out;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .menu-title {
    letter-spacing: 0.05em;
    cursor: default;
    font-size: 11px;
    text-transform: uppercase;
    color: var(--tui-text-03-night);
    font-weight: 600;

    span {
      padding: 12px 20px;
      display: inline-block;
    }
  }
}

.nav-link {
  display: flex;
  align-items: center;
  color: var(--tui-text-03-night);
  font-size: 0.9375rem;
  font-family: "hkgrotesk", sans-serif;

  .ico-color {
    color: var(--tui-text-03-night);
  }

  &.active {
    color: var(--tui-text-01-night);

    .ico-color {
      color: var(--tui-text-01-night);
    }
  }
}

.container-fluid {
  padding: 0;
}

.vertical-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(147 147 147 / 35%);
  z-index: 1003;
  display: none;
}

@media (max-width: 767.68px) {
  .app-nav {
    margin-left: -100%;
    padding: 10px 0 20px 0;
  }
}
