<header id="page-top-bar" class="item_sidebar">
  <div class="layout-width">
    <div class="navbar-header">
      <div class="d-flex">
        <button tuiButton
                appearance="flat"
                type="button"
                class="header-item vertical-menu-btn top-nav-hamburger tui-space_right-3 tui-space_bottom-3"
                id="top-nav-hamburger-icon"
                (click)="toggleMobileMenu($event)"
        >
          <span class="hamburger-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </button>
      </div>
    </div>
  </div>
</header>
