:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-island {
  width: 500px;

  .header {
    display: flex;
    align-items: center;
    text-align: start;

    h3,
    h5 {
      margin: 0;
    }

    img {
      width: 48px;
      margin-right: 14px;
    }
  }

  .remember-me-checkbox {
    text-align: start;
  }

  .actions {
    display: flex;
    margin-top: 24px;
    justify-content: center;
  }

  .w-25 {
    max-width: 150px;

    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.version {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.theme-switcher-container {
  position: fixed;
  bottom: 12px;
  right: 12px;
}

.forget-link {
  float: left;
  a {
    color: var(--tui-primary);
  }
}

[data-appearance='custom'] {
  background-color: var(--tui-success-fill);
  color: var(--tui-base-01);

  .t-wrapper-hover {
    background-color: var(--tui-success-bg-hover);
  }
}
