<div class="container">
  <tui-island class="login-island" size="m" textAlign="center">
    <div class="tui-island__content">
      <div class="header">
        <img alt="" src="/assets/favicon.ico" srcset=""/>
        <div>
          <h3 class="tui-island__title">MINT</h3>
          <h4 class="tui-island__paragraph">Вход в систему</h4>
        </div>
      </div>
      <form
        [formGroup]="formGroup"
        [tuiTextfieldCleaner]="true"
        class="tui-space_top-4"
      >
        <tui-notification
          (close)="onErrorNotificationClose()"
          *ngIf="!!error"
          class="tui-space_vertical-4"
          status="error"
        >
          {{ error }}
        </tui-notification>
        <div class="tui-form__row tui-form__row_multi-fields">
          <tui-select
            (ngModelChange)="onTypeChanged($event)"
            [tuiTextfieldLabelOutside]="true"
            class="tui-form__multi-field login-type w-25"
            formControlName="type"
            tuiTextfieldSize="l"
          >
            <tui-data-list-wrapper
              *tuiDataList
              [items]="types"
            ></tui-data-list-wrapper>
          </tui-select>

          <tui-input
            *ngIf="type"
            class="tui-form__multi-field"
            formControlName="login"
          >
            Логин
            <input
              (keyup.enter)="passwordElement.nativeElement.focus()"
              autocomplete="login"
              formControlName="login"
              tuiTextfield
              type="email"
            />
          </tui-input>

          <tui-input-phone-international
            (countryIsoCodeChange)="onPhoneCountryCodeChange($event)"
            *ngIf="!type"
            [(countryIsoCode)]="countryIsoCode"
            [countries]="countries"
            [tuiTextfieldLabelOutside]="true"
            class="tui-form__multi-field"
            formControlName="login"
          >
          </tui-input-phone-international>
        </div>

        <div class="tui-form__row">
          <tui-input-password formControlName="password">
            Пароль
            <input
              #passwordElement="elementRef"
              (keyup.enter)="submit()"
              autocomplete="current-password"
              tuiElement
              tuiTextfield
            />
          </tui-input-password>
        </div>

        <div class="forget-link">
          <a routerLink="/forget-password">
            Забыли пароль?
          </a>
        </div>

        <div class="actions">
          <button
            (click)="submit()"
            [disabled]="formGroup.invalid"
            [showLoader]="isAuthInProcess"
            icon="tuiIconLogIn"
            appearance="custom"
            tuiButton
          >
            Войти
          </button>
        </div>
      </form>
    </div>
  </tui-island>
</div>

<!--<app-version class="version"></app-version>-->

<div class="theme-switcher-container">
  <button
    (click)="switchTheme()"
    [icon]="themeValue() ? 'tuiIconSun' : 'tuiIconMoon'"
    appearance="flat"
    shape="rounded"
    size="m"
    tuiIconButton
    type="button"
  ></button>
</div>
