.content {
  display: flex;
}

.tab-items {
  width: 100%;
}

.left {
  margin-right: 2rem;
  min-width: 11rem;
}

.photos {
  margin-top: 1rem;
  border: 1px dashed;
  height: 100px;
  border-radius: 10px;
  padding: 0 1rem;
}
